body {
	display: flx;
	justify-content: center;
	align-items: center;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.bothtop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	width: 100%;
}
.alltop {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.del {
	display: none;
}

h1 {
	padding-left: 50px;
}

.sTOs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mailinput {
	border-radius: 24px;
	border: none;
	padding: 10px 20px;
	box-shadow: 5px 5px 5px 0px #36536b40;
	display: flex;
	flex-direction: column;
	width: 90%;
}
.teln1 {
	width: 128px;
	height: 240px;
	object-fit: cover;
}
